.container{
    color: var(--white);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    min-width: 1px;
}

.menu{
    min-width:1px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height:calc(100% - 17.5px);
    width: 300px;
}

.menuContainer{
    margin-top: auto;
    margin-bottom: auto;
    height: calc(100% - 70px);
    flex-grow:1;
    flex-basis: 300;
    display:flex;
    align-items: center;
    justify-content: center;
    position:sticky;
    top: 35px;
}

.child{
    overscroll-behavior-y: contain;
    cursor: auto;
    overflow-y: scroll;
    width: clamp(1600px, 80%, 1800px);
    height:90vh;
    display:flex;
    background-color: var(--lighter_black);
    filter: drop-shadow( 0px 3px 54px rgb(0, 0, 0, 0.20));
    border-radius: 35px;
}

.previewChild{
    width: 600px;
    min-width: 1px;
    margin-top:35px;
    height: max-content;
    padding-bottom: 150px;
    /* margin-bottom: 33%;
    height:100%; */
}

.postSelectionContainer{
    flex-grow:1;
    flex-basis: 300;
    position:sticky;
    top: 35px;
    margin-top:35px;
    margin-bottom:35px;
    display: flex;
    justify-content: center;
}

.postSelection{
    width: 350px;
    display: flex;
    flex-direction: column;
}

.postSelection .button{
    border-radius: 3px;
    display:flex;
    align-items: center;
}

.postSelection .highlight{
    height: 60px;
    width: 2px;
    border-radius: 1px;
    background-color: var(--dark_grey);
}

.postSelection .selected .highlight{
    background-color: var(--red);
}

.postSelection h2{
    margin-left: 15px;
    opacity: 0.3;
}

.postSelection .selected h2{
    color: var(--red);
    opacity: 1;
}

.button svg{
    margin-left:auto;
    margin-right:17px;
}