.container{
    /* color: var(--white); */
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.child{
    cursor: auto;
    height:90vh;
    display:flex;
    /*background-color: var(--lighter_black);*/
    filter: drop-shadow( 0px 3px 54px rgb(0, 0, 0, 0.20));
    border-radius: 35px;
    position: relative;
}

.zoomcontainer{
    cursor: auto;
    height: 100vh;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow( 0px 3px 54px rgb(0, 0, 0, 0.20));
    border-radius: 35px;
    position: relative;
}
@media (min-width: 1500px) {
    .child{
       width: clamp(1600px, 80%, 1800px);
    }
    .zoomcontainer{
       width: clamp(1000px, 80%, 1800px);
    }
}
@media (max-width: 1499px) {
    .child{
       width: clamp(1100px, 80%, 1800px);
    }
    .zoomcontainer{
       width: clamp(1100px, 80%, 1800px);
    }
    .previewChild{
        margin-left:450px;
        margin-right:50px;
    }
}

.pageInfo{
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    /*background-color: var(--2E2E2E);*/
    filter: drop-shadow(0px 3px 26px rgba(0, 0, 0, 0.4));
    width: 400px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
}

.zoomcontainer .pageInfo{
    top: auto;
    bottom: auto;
}

.menu{
    margin-top: 35px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.homescreen{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.homescreen .info{
    position: absolute;
    top: 96px;
    bottom: 96px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.homescreen .info h1{
    margin-top: 15px;
}

.homescreen .info span{
    margin-top: 10px;
    color: var(--grey);
}

.homescreen .info .vision{
    margin-top: 15px;
    max-width: 270px;
}

.previewContainer{
    flex-grow:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.zoomcontainer .previewContainer{
    overflow-y: scroll;
    width: auto;
}

.previewChild{
    width: 600px;
    /* height: 100%; */
}

.overviewParent{
    position: absolute;
    right: 35px;
    bottom: 35px;
    top: 35px;
    display:flex;
    flex-direction: column;
    max-width: 350px;
    /* margin: 35px;
    height: auto;
    display:flex;
    flex-direction: column; */
}

.overviewChild{
    flex-grow: 1;
    overflow-y: scroll;
}

.dependentsList{
    border-top: 1px solid var(--grey);
    padding: 15px 25px;
}

.dependentsList div{
    display:flex;
    align-items: center;
}

.dependent{
    display: flex;
    opacity: 0.8;
    position:relative;
    overflow: hidden;
}

.dependent .header{
    height: 54px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px;
    display: flex;
}

.dependent .info{
    flex-grow: 1;
}

.dependent .header h3{
    line-height: 18px;
}
.dependent .footer{
    margin: 15px 10px;
}

.dependent img{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-right:6px;
    filter: drop-shadow( 0px 5px 4px rgb(0, 0, 0, 0.15));
}

.page_icon{
    width: 45px;
    height: 45px;
    transform: scale(0.6);
    position:absolute;
    right:-6px;
    bottom: 0;
}