.profileContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileEdit{
    background-color: black;
    border-radius: 100%;
    position: relative;
}

.profile{
    opacity: 0.5;
}

.errormsg{
    color: var(--red);
    font-size: 12px;
    margin:0px 15px 10px 15px;

}

.cameraContainer{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.usernameContainer{
    margin-top:25px;
    display: flex;
    align-items: center;
}

.usernameContainer input, .usernameContainer span{
    font-size:20px;
    padding:0px;
    margin:0px;
    line-height: 20px;
}

.usernameContainer input{
    width: 150px;
}

.errorMsg{
    font-size: 12px;
    margin-top:15px;
    color: var(--red);
    align-self: stretch;
    max-width:250px;
}