.header{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.header h1{
    flex-grow: 1;
    text-align: center;
    padding: 5px 15px;
    margin: 0px 10px;
    color: var(--grey);
    cursor: pointer;
}

.header .highlight{
    border-bottom: 2px solid var(--red);
    color: var(--red);
}

.profileContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileEdit{
    background-color: black;
    border-radius: 100%;
}

.profileEdit div{
    opacity: 0.3;
}