.body{
    margin-top: 25px;
    min-height: 120px;
    display: flex;
    flex-direction: column;
}

.editContainer{
    width: 530px;
    height: calc(80vh - 190px);
    overflow: scroll;
}

.subComp{
    height: calc(80vh - 190px);
    width: 530px;
    overflow: scroll;
}

.nav{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.nav h1{
    flex-grow: 1;
    text-align: center;
    padding: 5px 30px;
    color: var(--grey);
    cursor: pointer;
    white-space: nowrap;
}

.nav .highlight{
    border-bottom: 2px solid var(--red);
    color: var(--red);
}

.button{
    padding: 15px 25px;
    border-radius: 15px;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.button h2{
    color: var(--white);
}

.header{
    font-size:18px;
    line-height: 20px;
}

.text{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
    overflow: none;
}

.maxTextLength{
    font-size: 12px;
    margin-left:auto;
}

.highlight{
    color: var(--red);
}