.compContainer{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 35px;
}

.compContainer img{
    border-radius: 15px 15px 0px 0px;
}

.compContainer h1{
    margin-top: 25px;
}

.compContainer div{
    margin-top: 15px;
}

.compFooter div{
    margin-top: 35px;
    font-weight: bold;
}

.compFooter span{
    color: var(--dark_grey);
}