.parent{
    max-width: 350px;
}

.componentParent{
    border-bottom: 1px solid var(--grey);
    margin-left: 15px;
    flex-grow:1;
}

.subParent{
    margin-top: 15px;
    border-bottom: 1px solid var(--lighter_grey);
    flex-grow:1;
}