.body{
    margin-top: 25px;
    height: 120px;
    display: flex;
    flex-direction: column;
}

.editContainer{
    width: 530px;
}

.button{
    margin-top: 35px;
    padding: 15px 25px;
    border-radius: 15px;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.button h2{
    color: var(--white);
}

.header{
    font-size:18px;
    line-height: 20px;
}

.text{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}