.body{
    margin-top: 25px;
    min-height: 120px;
    display: flex;
    flex-direction: column;
}

.editContainer{
    width: 530px;
    max-height: calc(90vh - 120px);
    overflow: scroll;
}

.button{
    padding: 15px 25px;
    border-radius: 15px;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.button h2{
    color: var(--white);
}

.header{
    font-size:18px;
    line-height: 20px;
}

.text{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
    overflow: none;
}

.maxTextLength{
    font-size: 12px;
    margin-left:auto;
}

.highlight{
    color: var(--red);
}