.container{
    padding: 35px;
}

.header{
    display: flex;
    align-items: center;
}

.pagename{
    margin-left: 15px;
    margin-top:5px;
}

.pagename div{
    margin-top:2px;
    color: var(--grey);
}