@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root{
  /*Colors*/
  --black: #2E2E2E;
  --light_black: #3a3a3a;
  --lighter_black: #444;
  --grey: #8A8A8A;
  --light_grey: #D2D1D1;
  --white: #FAFAFA;
  --red: #FF5B77;

  --chart_negative: #e63f3f;
  --chart_positive: #26ab5e;
  /*Canvas*/
  --max_width: 1800px;
  --radius_large: 25px;
}

html, body, #__next{
  background-color: var(--black);
  font-family: 'Nunito', sans-serif!important;
  font-weight: 400;
  width:100%;
  height: 100%;
  margin:0px;
  padding:0px;
  font-size:16px;
  color: var(--lighter_black)
}

h1{
  font-size: 24px;
  padding:0px;
  margin:0px;
  line-height:22px;
}

h2{
  font-size:20px;
  padding:0px;
  margin:0px;
  line-height: 20px;
}

h3{
  font-size: 18px;
  padding:0px;
  margin:0px;
  line-height:16px;
}

span{
  font-size:16px;
  line-height: 16px;
}

.smalltext{
  font-size: 12px!important;
  margin-top: 5px;
}

svg{
  display: flex;
  align-items: center;
  justify-content: center;
}

a{
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  opacity: 0.9;
  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}

a:hover{
  opacity: 1;
}

textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  font-family: 'Nunito', sans-serif!important;
}

.inputLine{
  border: 1px solid #ced4da;
  border-width: 0 0 1px 0;
  padding: 5px 10px;
}

.areaLine{
  border: 2px solid #ced4da;
  border-width: 0 0 0 2px;
  padding: 5px 15px;
}

input, textarea{
  background-color: transparent;
  border: 0;
  font-size:16px;
}

textarea:focus, input:focus{
  outline: none;
}

.no_click{
  pointer-events: none;
  opacity: 0.3;
}

.user_shadow_large{
  filter: drop-shadow( 0px 10px 20px rgb(0, 0, 0, 0.2));
}

.flexcenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexy{
  display: flex;
  align-items: center;
}

.flexx{
  display: flex;
  justify-content: center;
}

.errormsg{
  font-size:12px;
  color: var(--red);
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  background: transparent; 
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  border:none;
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 100%;
  background: var(--red);
  cursor: pointer;
  margin-top: -5px;
}

input[type=range]::-moz-range-thumb {
  border:none;
  height: 14px;
  width: 14px;
  border-radius: 100%;
  background: var(--red);
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  border:none;
  height: 14px;
  width: 14px;
  border-radius: 100%;
  background: var(--red);
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--red);
  border-radius: 2px;
  border: none;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--red);
  border-radius: 2px;
  border: none;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--red);
  border-radius: 2px;
  border: none;
}

.filepond--root,
.filepond--root .filepond--drop-label {
  min-height: 300px!important;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
html, body{
  background: #2E2E2E;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:1px;
  position:relative;
  width:100%;
  height: 100%;
  margin:0px;
  padding:0px;
  overflow-wrap:break-word;
  color: #444444;
  font-family: 'Nunito', sans-serif!important;
  font-weight: 400;
  line-height: 20px;
  background-attachment: fixed;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

*:focus {
  outline: none!important;
}

input{
  background-color:transparent;
  border:none;
  font-size:16px;
  color: #444444;
}

textarea{
  background-color:transparent;
  border:none;
  color: #444444;
  resize:none!important; 
}

span{
  font-size:16px;
}

div{
  color: #444444;
}

textarea{
  resize: none;
  font-family: 'Nunito', sans-serif !important;
  font-size: 16px;
}

input{
  font-family: 'Nunito', sans-serif !important;
}

p{
  font-family: 'Nunito', sans-serif !important;
  padding:0px;
  margin:0px;
}

h1{
  font-size: 24px;
  padding:0px;
  margin:0px;
}

h2{
  font-size:20px;
  padding:0px;
  margin:0px;
  line-height: 27px;
}

h3{
  font-size: 16px;
  padding:0px;
  margin:0px;
}

textarea:focus, input:focus{
  outline: none;
}

div{
  margin:0px;
  padding:0px;
}

body{
  padding:0px;
  margin:0px;
}

.il{
  border: 1px solid #ced4da;
  border-width: 0 0 1px 0;
}

.tl{
  border: 1px solid #ced4da;
  border-width: 0 0 0 2px;
}

.bcw{
  background-color:white;
}

.bcr{
  background-color: #FF5B77;
}

.bcb{
  background-color: #2E2E2E;
}

.cr{
  color: #FF5B77;
}

.cw{
  color: #FAFAFA;
}

.cb{
  color: #444444;
}

.cg{
  color: #8A8A8A;
}

.bow{
  border:1px solid #FAFAFA;
}

.bob{
  border:1px solid #2E2E2E;
}

.bobr{
  border-bottom: 2px solid #FF5B77;
}

.op{
  opacity: 0.3;
}

.fh{
  height: 100%;
  min-height:1px;
}

.fw{
  width: 100%;
  min-width:1px;
}

.pxm_{
  padding: 20px 0px;
}

.p_s{
  padding: 0px 10px;
}

.pmm{
  padding: 10px 15px;
}

.pxs{
  padding: 10px ;
}

.pmxm{
  padding: 15px 20px;
}

.p_l{
  padding: 0px 25px;
}


.mm{
  margin: 15px;
}

.mxm_{
  margin: 20px 0px;
}

.mmxm{
  margin: 15px 20px;
}

.mm_{
  margin: 15px 0px;
}
.m_m{
  margin: 0px 15px;
}

.mls{
  margin-left: 5px;
}

.mlxs{
  margin-left: 10px;
}

.mlm{
  margin-left: 15px;
}

.mll{
  margin-left: 25px;
}

.mla{
  margin-left:auto;
}

.mrm{
  margin-right:15px;
}

.mtxs{
  margin-top: 10px;
}

.mtm{
  margin-top: 15px;
}

.mtl{
  margin-top: 25px;
}

.mtxl{
  margin-top: 30px;
}

.mtxxl{
  margin-top: 35px;
}

.mta{
  margin-top: auto;
}

.mbxs{
  margin-bottom:15px;
}


.overflowTextDot{
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.tc{
  text-align: center;
}

.fss{
  font-size:12px;
}

.fwb{
  font-weight:bold;
}


.flexcenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex{
  display: flex;
}

.flexy{
  display: flex;
  align-items: center;
}

.flexx{
  display: flex;
  justify-content: center;
}

.flexyend{
  display: flex;
  align-items:flex-end;
}

.fg{
  flex-grow:1;
}


.rflexcenter{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rflexx{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.rflexy{
  display:flex;
  flex-direction: column;
  justify-content: center;
}


.rs{
  border-radius: 10px;
}

.rm{
  border-radius: 15px;
}

.rxm{
  border-radius: 20px;
}

.rl{
  border-radius: 25px;
}

.rxl{
  border-radius: 45px;
}

.rx{
  border-radius: 100%;
}



.sm{
  filter: drop-shadow( 0px 3px 6px rgb(0, 0, 0,0.10));
}

.sm_black{
  filter: drop-shadow( 0px 3px 6px rgb(0, 0, 0,0.80));
}

.sl{
  filter: drop-shadow( 0px 3px 54px rgb(0, 0, 0, 0.20));
}


.pointer_{
  pointer-events: none;
}

.pointer{
  cursor: pointer;
}



*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb{
  width: 20px;
  border-radius: 10px;
  border: 8px solid transparent;
}

*::-webkit-scrollbar-thumb{
  box-shadow: inset 0 0 0 10px;
  color: transparent;
}

.showscroll::-webkit-scrollbar-thumb{
  box-shadow: inset 0 0 0 10px;
  color: #ced4da;
}
*/